<div class="cartItem"
	data-sku="{{sku}}" 
	data-model="{{model}}" 
	data-price="{{price}}"
	data-title="{{title}}"
 	data-image="{{image}}"
 	data-qty="{{qty}}">
	<div class="bg-gray ui-grid-a edge">
		<div class="ui-block-a js-id">
			<p>
				<strong>{{id}}</strong>
			</p>
		</div>
		<div class="ui-block-b">
			<p>
				<a href="#productDetail" class="js-productName">{{title}}</a>
			</p>

			<p>
				<strong>Model:</strong> <span class="js-model">{{model}}</span><br />
				<strong>SKU:</strong> <span class="js-sku">{{sku}}</span>
			</p>

			<p>Gift With Purchase:</p>
			<ul>
				<li>Kasperkey Internet Security - 3-Device - 6 Months - Android/iOS - Mac/Windows [Download]</li>
			</ul>
		</div>
	</div>
	<div class="ui-grid-a cartCSBreakPoint">
		<div class="ui-block-a">
			<p>
				<img src="{{image}}" class="js-image">
			</p>
		</div>
		<div class="ui-block-b">
			<p class="price js-price">${{price}}</p>
			<div class="quantity">
				<a href="#" class="js-decrease ui-btn ui-btn-inline ui-primary-icon ui-icon-minus ui-btn-icon-notext ui-corner-all"></a>
				<strong>Quantity <span class="js-qty">{{qty}}</span></strong>&nbsp;&nbsp;
				<a href="#" class="js-increase ui-btn ui-btn-inline ui-primary-icon ui-icon-plus ui-btn-icon-notext ui-corner-all"></a>
			</div>
			<p>
				<a href="#" class="js-remove">Remove Item</a>
			</p>
		</div>
	</div>

	<div data-role="tabs">
		<div data-role="navbar">
			<ul>
				<li><a href="#pickupTab" data-ajax="false">Store Pickup</a></li>
				<li><a href="#shippingTab" data-ajax="false">Shipping</a></li>
			</ul>
		</div>
		<div id="pickupTab">
			<p>
				<a href="#">Select a Store</a>
			</p>
			<p>
				<strong class="text-red">FREE</strong>
			</p>
		</div>
		<div id="shippingTab">
			<fieldset data-role="controlgroup" data-theme="b">
				<legend>Get it by:</legend>
				<input type="radio" name="shipping" id="shippingStandard" value="Standard" checked="checked">
				<label for="shippingStandard">
					Mon, Jan 26 - <span class="text-red">FREE</span><br />
					Standard
				</label>
				<input type="radio" name="shipping" id="shippingExpedited" value="Expedited">
				<label for="shippingExpedited">
					Wed, Jan 21 - $11.99<br />
					Expedited
				</label>
				<input type="radio" name="shipping" id="shippingExpress" value="Express">
				<label for="shippingExpress">
					Tue, Jan 20 - $21.99<br />
					Express
				</label>
			</fieldset>
		</div>
	</div>

	<ul data-role="listview" data-theme="a" class="ui-listview ui-listview-inset ui-corner-all ui-shadow">
		<li>
			<a href="#">Accessories</a>
		</li>
		<li>
			<a href="#">Protection Plans</a>
		</li>
		<li>
			<a href="#">Special Offers</a>
		</li>
	</ul>


</div>