<div class="js-item" 
 	data-sku="{{sku}}" 
 	data-model="{{model}}" 
 	data-price="{{price}}" 
 	data-title="{{title}}" 
 	data-image="{{image}}"
 	data-qty="{{qty}}"
>
	<div class="headWButton">
		<a href="#" class="small js-remove">Remove</a>
		<h2>
			{{title}}
		</h2>
	</div>
	<p>
		<strong>Model:</strong> {{model}} <br />
		<strong>SKU:</strong> {{sku}}
	</p>


	<div class="headWButton">
		<a href="#" class="small">Ship Instead</a>
		<h2 class="light">
			Pickup In Store
		</h2>
		<hr />
	</div>

	<p>
		<strong>Margate FL</strong><br />
		3300 Nw 62nd Ave<br />
		Margate, FL 33063
	</p>

	<a href="#" class="small">Change Store</a>

	<fieldset data-role="controlgroup" data-theme="b">
        <input type="radio" name="radio-{{sku}}" id="radio-{{sku}}-1" value="{{sku}}-1" checked="checked">
        <label for="radio-{{sku}}-1">I will pick up this item myself.</label>
        <input type="radio" name="radio-{{sku}}" id="radio-{{sku}}-2" value="{{sku}}-2">
        <label for="radio-{{sku}}-2">Someone else will pick up this item.</label>
	</fieldset>


	<div class="headWButton">
		<h2 class="light">
			Gift Options
		</h2>
		<hr />
	</div>

	<label for="isGift">
		Send a gift message
		<select name="isGift" id="isGift" data-role="slider" data-mini="true">
		    <option value="off" selected="">No</option>
		    <option value="on">Yes</option>
		</select>
	</label>
	<hr />
</div>