<div data-role="header" data-position="inline">
	<div class="ui-btn-left">
        <a href="#nav-panel" class="ui-btn ui-icon-bars ui-btn-icon-notext menuBtn" data-role="button" role="button">Menu</a>
		<a href="#" class="ui-btn ui-icon-carat-l ui-btn-icon-notext menuBtn" data-role="button" data-rel="back" role="button">Back</a>
    </div>
	

	<div class="search">
	    <input type="search" name="search" value="" data-mini="true" data-theme="a" class="search-header" placeholder="Search" />
	</div>
	<a href="#" class="ui-btn-right ui-btn ui-icon-cart ui-btn-icon-notext cartBtn" data-role="button" role="button">Cart</a>
</div>